.orange_c{
  color:#F77223 ;
}
.orange_bg{
  background-color: #F77223;
}
.blue_c{
  color: #134B8E;
}
.blue_bg{
  background-color: #134B8E;
}
.dark_c{
  color:#1D1E1F;
}
.linkBlue_c{
  color: #1D72DB;
}
.black_c{
  color: #000000;
}
.lightgrey_bg{
  background-color: #f7f8fa;
}
/* .lightgrey_c{
  color:#EDF1F6;;
} */
.white_c{
  color: #ffffff;
}
.white_bg{
  background-color: #ffffff;
}
.orangelight_bg{
  background-color: #FDD4BB;
}
.lightGrey_c{
color:#8D9299
}